@import 'reset';
@import 'colors';

em {
  font-style: italic;
}

strong {
  color : darken($secondary-text-color, 30%);
  font-weight : bold;
}

body {
  line-height : 1.25;
  background : $light-primary-color;
  color : $default-primary-color;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: disc outside none;
  margin-left: 20px;
}

p, li {
  color : $secondary-text-color;
}

.divider {
  border-top : 1px solid $divider-color;
}

.row {
  display: flex;
}

.text-primary {
  color : $text-primary-color;
}

.row > .column {
  flex-grow: 1;
  width : 0;
}

.card {
  background : white;
  border-radius : 4px;
  box-shadow: 1px 1px 4px transparentize(black, .7)
}

.margin-small {
  margin : 8px;
}

.padding-small {
  padding : 8px;
}

.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-children > * {
  margin : 4px;
}

.remove-top-padding {
  padding-top : 0;
}

.header {
  font-size : 12px;
  background : $dark-primary-color;
  position : fixed;
  left : 0;
  right : 0;
  display : flex;
  align-items: center;
  box-shadow: 0 4px 4px transparentize(black, .7)
}

.site-body {
  padding-top : 87px;
}

.button {
  justify-content: center;
  align-items: center;
  display: flex;
  color : $text-primary-color;
  background: $accent-color;
  margin : 8px;
  padding : 8px;
  text-decoration : none;
  border-radius : 24px;
  width : 50%;
  text-align : center;

  transition : background 300ms;

  &:hover {
    background : lighten($accent-color, 10%)
  }
}

.grow {
  flex-grow : 1;
  width : 0;
}
